/* Input Groups */
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  
  .input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
  
  .input-group-text {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-4);
    font-size: var(--fs-p1);
    color: var(--text-secondary);
    background-color: var(--color-surface-1);
    border: 1px solid var(--wave);
    border-radius: var(--radius-md);
  }
  