/* Loading.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-3);
  }
  
  .fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    position: relative;
    border-radius: 50%;
  }
  
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: currentColor;
    animation: spin 1s linear infinite;
  }
  
  /* Tamanhos */
  .size-small {
    width: 20px;
    height: 20px;
  }
  
  .size-medium {
    width: 32px;
    height: 32px;
  }
  
  .size-large {
    width: 48px;
    height: 48px;
  }
  
  /* Cores */
  .color-primary {
    color: var(--color-surface-primary);
  }
  
  .color-light {
    color: var(--alabaster);
  }
  
  .color-dark {
    color: var(--text-color-default);
  }
  
  .message {
    margin-top: var(--spacing-2);
    font-size: var(--fs-p2);
    color: var(--text-color-default);
    text-align: center;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }