/* JsonViewer.module.css */
.emptyContainer {
    background-color: var(--wild-sand);
    padding: 1rem;
    border-radius: 4px;
    color: var(--dove-gray-2);
    text-align: center;
  }
  
  .jsonContainer {
    position: relative;
  }
  
  .jsonContent {
    background-color: var(--wild-sand);
    padding: 1rem;
    border-radius: 4px;
    overflow: auto;
    max-height: 16rem;
    font-size: var(--fs-p3);
  }
  
  .copyButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--blip-action);
    color: var(--alabaster);
    border-radius: 4px;
    font-size: var(--fs-p3);
  }